<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tuacy.example">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:label="Fragment使用">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".backstack.BackStackActivity"
            android:label="Fragment基本使用"/>

        <activity android:name=".baseuse.BaseUseActivity"
            android:label="Fragment回退栈的使用"/>

        <activity android:name=".argument.ArgumentActivity"
            android:label="Fragment Argument使用"/>

        <activity android:name=".statics.StaticFragmentActivity"
            android:label="静态Fragment使用"/>

        <activity android:name=".pager.PagerActivity"
            android:label="Pager + Fragment使用"/>

        <activity android:name=".sharedelment.SharedElementActivity"
            android:label="Shared Element共享元素的使用"/>

    </application>

</manifest>